<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div><label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </div>
  <div>
    <label>alter ego: </label>
    <input [(ngModel)]="hero.alterEgo" placeholder="alter ego"/>
  </div>
  <div>
    <label>Power :</label>
    <input [(ngModel)]="hero.power" placeholder="power"/>
  </div>
  <button (click)="goBack()">Back</button> | <button (click)="gotoHeroes()">Back to Heroes</button>
</div>